body{
    font-family: 'Mulish', sans-serif;
    color: #4D4D4D;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
    text-align: center;
    background-color: #fff;
    font-display: swap;
    line-height: normal;
}
.container{
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

h2{
    font-weight: bold;
    color: #02349C;
    font-size: 34px;
}
p{
    font-size: 16px;
}
img{
    height: fit-content;
}
@media screen and (max-width: 360px){
    h2{
        font-size: 20px;
    }
}
/************************************
BOTONES  
************************************/
.botones{
    padding: 30px;
    padding-bottom: 0;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.btn-meta{
    color: #ffffff;
    background-color: #02349C;
    border-radius: 14px;
    border: 0;
    padding: 10px;
    width: 160px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.btn-meta img{
    width: 30px;
    height: auto;
    padding-right: 20px;
}
.btn-meta a{
    margin: 0;
    text-align: justify;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
.btn-meta i{
    font-size: 30px;
    padding: 0 10px;
}

/************************************
TABLAS  
************************************/
table{
    width: 100%;
    border-collapse:collapse;
    
}
.cabecera{
    background-color: #02349C;
    border-radius: 20px;
    color: #fff;
    display: block;
    padding: 10px;
}
.cabecera td{
    padding: 0 10px;
}
.body{
    display: block;
    padding: 10px 0;
}
.body tr td{
    padding: 2px;
}
.cat{
    width: 27%;
}
.cat p{
    text-align: center;
}
.line{
    width: 100%;
    border-bottom: #02349C 1px solid;

}
.lines a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.lines p{
    margin: 0;
}
.cat1{
    width: 45%;
    text-align: center;
}
.extra{
    padding-right: 50px;
}
@media screen and (max-width: 905px){
    .extra{
        padding-right: 0;
    }
}
.lines a:hover{
    color: #4D4D4D;
}
.lines a:visited{
    color: #4D4D4D;
}
.lines a img{
    width: 20px;
    padding-right: 10px;
}
.lines a p{
    margin: 0;
}


















/*header*/
.fondo{
    max-width: 100%;
    background: url(../img/header/fondo.png) no-repeat center center;
    background-size: cover;
    justify-content: center;
}
.header-container-logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
}
.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    padding: 50px 10px;
    padding-top: 50px;
}
.texto{
    width: 60%;
}
.texto h1{
    color: #02528F;
    font-weight: bold;
}
.texto p{
    text-align: justify;
}
.mapa img{
    width: 100%;
}
.nav{
    background-color: #E2E8FF;
    padding: 10px;
}
.nav-container{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.seccion{
    width: 20%;
}
.seccion img{
    width: 40px;
}
.seccion a{
    margin: 0;
    text-decoration: none;
}
.seccion a:hover{
    color: #30406E;
}
.seccion a:visited{
    color: #30406E;
}
.seccion a p{
    margin: 0;
}

.nav1{
    background-color: #02349C;
    z-index: 9;
    width: 100%;
}
.nav1 p{
    color: #fff;
    font-size: 9px;
}
.seccion1{
    width: 20%;
}
.seccion1 img{
    width: 40px;
}
.seccion1 a{
    margin: 0;
    text-decoration: none;
}
.seccion1 a:hover{
    color: #30406E;
}
.seccion1 a:visited{
    color: #30406E;
}
.seccion1 a p{
    margin: 0;
}
.ventana{
    display: flex;
    flex-wrap: wrap;
}
.fixed{position:fixed; top:0}
.logos-ventana img{
    padding: 0 10px;
}
@media screen and (max-width: 768px){
    .header-container{
        padding: 50px;
    }
}
@media screen and (max-width: 850px){
    .texto{
        width: 100%;
    }
    .logos-ventana{
        width: 100%;
        display: flex;
        padding: 10px 0;
    }
    .nav-container{
        display: flex;
        flex-wrap: wrap;
        
        justify-content: center;
    }
    .seccion{
        width: 150px;
        max-width: 100%;
    }
}


/************************************
GIS
************************************/
.consulta{
    align-items: center;
    display: flex;
    max-width: 100%;
    height: 750px;
    background: url(../img/gis/fondo1.png) no-repeat center center;
    background-size: cover;
    justify-content: center;
}
.consulta h2{
    text-align: left;
}
.info-consulta{
    width: 100%;
    text-align: left;
    padding: 0 20%;
    top: 20px;
    margin: 0;
}
.info-consulta h2{
    color: #FFBD00;
    font-size: 34px;
}
.gis{
    max-width: 330px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
}
.gis img{
    padding: 10px;
    height: fit-content;
}
@media screen and (max-width: 905px){
    .laptop{
        visibility: hidden;
        height: 0;
    }
}


/************************************
SERVICIOS
************************************/
.servicio-container{
    text-align: justify; 
    padding: 50px 10px;
    padding-bottom: 0;
    justify-content: center;
}
.servicio-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.servicio-titulo h2{
    text-align: left;
    color: #02349C;
}
.servicio-titulo img{
    width: auto;
    height: fit-content;
    padding-right: 10px;
}
.servicios{
    text-align: justify; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}
.tabla-servicio{
    max-width: 600px;
    width: 100%;
}
.laptop2 img{
    width: 100%;
    max-width: 350px;
}
@media screen and (max-width: 905px){
    .laptop2{
        visibility: hidden;
        height: 0;
    }
}
@media screen and (max-width: 768px){
    .servicio-container{
        padding: 50px;
        padding-bottom: 0;
    }
}
/************************************
METADATOS   
************************************/
.metadatos-container{
    text-align: justify; 
    padding: 50px 10px;
    padding-bottom: 0;
    justify-content: center;
}
.metadatos-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.metadatos-titulo h2{
    text-align: left;
    color: #02349C;
}
.metadatos-titulo img{
    width: auto;
    height: fit-content;
    padding-right: 10px;
}
.metadatos{
    text-align: justify; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.tabla-metadatos{
    max-width: 600px;
    width: 100%;
}
@media screen and (max-width: 768px){
    .metadatos-container{
        padding: 50px;
        padding-bottom: 0;
    }
}
/************************************
NORMAS  
************************************/
.normas-container{
    text-align: justify; 
    padding: 50px 10px;
    padding-bottom: 0;
    justify-content: center;
}
.normas-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.normas-titulo h2{
    text-align: left;
    color: #02349C;
}
.normas-titulo img{
    width: auto;
    height: fit-content;
    padding-right: 10px;
}
.normas{
   text-align: justify; 
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: flex-start;
}
.tabla-normas{
    max-width: 600px;
    width: 100%;
}
.body-scroll{
    padding: 10px 0;
    display: block; 
    height: 380px; 
    overflow: auto;
    background-color: #E2E8FF;
}
.cuerpo{
    font-size: 15px;
}
.body-scroll .cat{
    padding: 0 15px;
}
.body-scroll .cat p{
    text-align: left;
}
.body-scroll td img{
    padding: 0px 76px;
}
.cat .nombre{
    color: #02349C;
}
@media screen and (max-width: 768px){
    .normas-container{
        padding: 50px;
        padding-bottom: 0;
    }
}

/************************************
capas  
************************************/
.capas-container{
    text-align: justify; 
    padding: 50px 10px;
    padding-bottom: 0;
    justify-content: center;
}
.capas-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.capas-titulo h2{
    text-align: left;
    color: #02349C;
}
.capas-titulo img{
    width: auto;
    height: fit-content;
    padding-right: 10px;
}
.capas{
   text-align: justify; 
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
}
.tabla-capas{
    max-width: 600px;
    width: 100%;
}
.capa img {
    width: 100%;
    max-width: 350px;
}
@media screen and (max-width: 768px){
    .capas-container{
        padding: 50px;
        padding-bottom: 0;
    }
}
/************************************
GEO
************************************/
.geo-container{
    text-align: justify; 
    padding: 50px 10px;
    padding-bottom: 70px;
    justify-content: center;
}
.geo-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.geo-titulo img{
    width: auto;
    height: fit-content;
    padding-right: 10px;
}
.geo{
   text-align: justify; 
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
}
.tabla-geo{
    max-width: 600px;
    width: 100%;
}
.geos img {
    width: 100%;
    max-width: 350px;
}
@media screen and (max-width: 768px){
    .geo-container{
        padding: 50px;
    }
}
/************************************
FOOTER
************************************/
footer{
    background-color: #51464B;
    
}
.footer-container{
    padding: 20px;
}
footer p{
    color: #fff;
    font-size: 12px;
    line-height: 15px;
}
.logos img{
    width: 200px;
    height: auto;
}